* {
  margin: 0 !important;
  padding: 0;
  box-sizing: border-box;
}
#result {
  display: none;
}
#totnghiep {
  display: none;
}
// .form {
//   width: 122%;
// }
body {
  background-image: url(../image/12.jpg);
}
